<div class="header" [style.backgroundColor]="backgroundColor ? backgroundColor : 'var(--color-primary)'">

  <div class="header__title">
    <img src="https://source.unsplash.com/random/64x40" alt="Logo">
    <ng-content select="[title]"></ng-content>
  </div>

  <nav class="header__nav">
    <ul class="header__nav__list">
      <li *ngFor="let item of navLinks">
        <a class="header__nav__list--item" [routerLink]="[item.route]" routerLinkActive="router-link-active">{{ item.label }}</a>
      </li>
    </ul>
  </nav>

  <ng-content select="[buttons]"></ng-content>
</div>
