<app-header>
  <p title>Gerenciar imóveis</p>
</app-header>

<div class="page-content">
  <div class="add-property">
    <button>
      Adicionar registro
    </button>
  </div>

  <div class="properties-list">
    <div class="properties-list__card" *ngFor="let item of properties">
      <p><b>Nome:</b> {{item.nome ? item.nome : 'Desconhecido'}}</p>
      <p><b>Tipo:</b> {{item.tipo ? item.tipo : 'Desconhecido'}}</p>
      <p><b>Valor:</b> {{item.valor ? item.valor : 'Desconhecido'}}</p>
      <p><b>Endereço:</b> {{item.endereco ? item.endereco : 'Desconhecido'}}</p>
      <p><i>{{item.dataAnuncio ? item.dataAnuncio : 'Desconhecido'}}</i></p>
      <div class="properties-list__card--edit">
        <button>editar</button>
      </div>
    </div>
  </div>

  <ng-container *ngIf="loading == false && properties.length == 0">
    Ainda não há imóveis a serem exibidos.
  </ng-container>


</div>

<app-footer></app-footer>
